:root {
  --dark: #0a0a0a;
  --blue: #6948ff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  font-family: montserrat, sans-serif;
  color: white;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

#navbar {
  background-color: var(--dark);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid white;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 2rem;
}

.active {
  display: block;
}

.hamburgerBtn {
  display: none;
}

.absolute {
  position: absolute;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.logo h1 {
  font-size: larger;
}

#navbar img {
  width: 35px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}

#navbar h1 {
  text-transform: capitalize;
}

nav {
  padding: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: small;
  transition: all 200ms ease-in-out;
}

nav ul li a:hover {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

/* HOME SECTION */
#welcome-section {
  background: linear-gradient(-90deg, rgb(48, 48, 48), var(--dark));
  overflow: hidden;
}

.welcome-container {
  max-width: 1280px;
  width: 100%;
  padding-top: 200px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  margin: 0 auto;
}

#welcome-section .welcome-text {
  padding-inline: 1rem;
  width: 100%;
  animation: fadein-left 2s ease-in-out;
}

.welcome-text p:first-child {
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.welcome-text h1 {
  color: var(--blue);
  font-size: xx-large;
  margin-bottom: 1rem;
}

.welcome-text h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.welcome-text a {
  padding: 10px 15px;
  background-color: var(--blue);
  border-radius: 50px;
  border: 2px solid transparent;
  color: var(--dark);
  font-weight: 600;
  text-transform: uppercase;
  font-size: x-small;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.welcome-text a:hover {
  border-color: var(--blue);
  background-color: var(--dark);
  color: var(--blue);
}

.welcome-image {
  width: 100%;
  padding-inline: 1rem;
  text-align: center;
  animation: fadein-right 2s ease-in-out;
}

.welcome-image img {
  margin: 0 auto;
  max-width: 100%;
  filter: drop-shadow(10px 20px 20px black);
  animation: imgUpDown 5s linear infinite;
}

/* ABOUT */
#about {
  background-color: #242424;
}

.about-container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  padding: 7rem 2rem;
  margin: 0 auto;
}

.about-image img {
  width: 200px;
}

.about-text {
  max-width: 400px;
}

.about-text h1 {
  color: var(--blue);
  margin-bottom: 0.25rem;
}

.about-text h5 {
  font-weight: 400;
  margin-bottom: 1rem;
  font-style: italic;
}

.about-text p:not(.biodata p) {
  font-size: small;
  margin-bottom: 2.75rem;
}

.about-text .biodata {
  padding-left: 5px;
  border-left: 20px solid var(--blue);
}

.about-text .biodata p {
  font-size: small;
}

.biodata a {
  color: var(--blue);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.biodata a:hover {
  filter: brightness(200%);
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 100px 2rem;
  max-width: 1280px;
}

.skills-title,
.projects-title {
  width: 100%;
  display: block;
  color: var(--blue);
  text-align: center;
  padding: 10px;
  margin-bottom: 3rem;
}

.skills-title h1,
.projects-title h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.skills-wrapper {
  display: flex;
  overflow: hidden;
  column-gap: 2rem;
}

.skillBox-container {
  display: flex;
  flex-shrink: 0;
  column-gap: 2rem;
  animation: infiniteSlide 15s linear infinite;
}

.skill-box {
  width: 300px;
  height: 240px;
  background-color: #292929;
  padding: 1rem;
  border-radius: 10px;
}

.skill-box img {
  display: block;
  margin: 1.5rem auto 0;
}

.skill-box p:nth-of-type(1) {
  width: max-content;
  margin: 0.5rem auto 1rem;
  font-weight: 500;
  border-bottom: 2px solid var(--blue);
}

/* PROJECTS */
#projects {
  background-color: #181818;
}

.projects-container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 2rem;
  gap: 2rem;
  margin: 0 auto;
}

.project-tile {
  width: 500px;
  background-color: #242424;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.img-wrap {
  position: relative;
}

.img-wrap a {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg, #131313, #242424a4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: larger;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.img-wrap img {
  object-fit: cover;
  max-height: 300px;
  width: 100%;
}

.project-tile .title {
  display: block;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: large;
  color: white;
  text-decoration: none;
  position: relative;
}

.project-tile:hover .img-wrap a {
  opacity: 100%;
}

.project-tile .title span {
  color: var(--blue);
  font-weight: 700;
  display: inline-block;
  margin-inline: 0.75rem;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.project-tile:hover .title span {
  opacity: 100%;
}

/* CONTACT */
.contact-container {
  max-width: 1280px;
  padding: 100px 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact-container img {
  max-width: 100%;
  animation: imgUpDown 4s linear infinite;
}

.contact-text {
  max-width: 400px;
  margin-bottom: 2rem;
}

.contact-text h1 {
  color: var(--blue);
  margin-bottom: 1rem;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  max-width: 400px;
}

.contact-links a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: x-large;
  transition: all 200ms ease-in-out;
  flex-grow: 1;
  box-sizing: border-box;
  padding-block: 20px;
}

.contact-links a:hover {
  transform: translateY(10px);
  color: var(--blue);
}

/* ASIDE */
#aside {
  background-color: #292929;
  position: fixed;
  right: 0;
  top: 50%;
  border-radius: 10px;
  transition: transform 300ms ease-in-out;
}

.translateX-full {
  transform: translate(100%, -50%);
}

#aside-button {
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.slide-left {
  transform: translate(0, -50%);
}

.aside-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2rem;
  margin: 0 auto;
}

.aside-container ul li {
  list-style-type: circle;
  margin-left: 2rem;
}

.aside-container img {
  max-width: 100%;
  width: 200px;
  border-radius: 50%;
}

.aside-container .aside-text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#aside-blog ul li a {
  color: white;
  font-style: italic;
}

#aside-blog ul li a:hover {
  color: var(--blue);
}

/* FOOTER */
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid white;
  font-size: x-small;
}

.navbar-in {
  animation: navbar-in 300ms linear forwards;
}
.navbar-out {
  animation: navbar-out 300ms linear forwards;
}

/* MEDIA QUERY */
@media (max-width: 748px) {
  #navbar h1 {
    font-size: 1rem;
  }

  .hamburgerBtn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 2rem;
  }

  .hamburgerBtn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
  }

  nav {
    display: none;
  }
  nav ul.hamburger {
    width: 200px;
    height: 100vh;
    padding-top: 6rem;
    position: absolute;
    z-index: 5;
    top: -40px;
    right: -158%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--dark);
    box-shadow: -5px 0px 15px -5px rgba(0, 0, 0, 0.7);
  }

  nav ul.hamburger a {
    padding: 1rem;
    display: block;
    width: 100%;
  }

  nav ul.hamburger a:hover {
    background-color: var(--blue);
    border-bottom: none;
    color: var(--dark);
  }

  .welcome-text h4 {
    font-size: 1.2rem;
  }

  .aside-container img {
    width: 100px;
  }

  .aside-text {
    font-size: small;
  }
}

@media (min-width: 660px) {
  html {
    scroll-padding-top: 105px;
  }

  .header-container {
    justify-content: space-between;
    padding: 2rem;
  }

  nav ul li a {
    font-size: medium;
  }

  .welcome-container {
    padding-top: 100px;
    justify-content: space-between;
  }

  .welcome-text {
    max-width: 50%;
  }

  .welcome-image {
    max-width: 50%;
  }

  .welcome-text p {
    font-size: large;
  }

  .welcome-text h1 {
    font-size: 3rem;
  }

  .welcome-text a {
    font-size: medium;
  }

  .about-text {
    max-width: 450px;
  }

  .about-text h1 {
    font-size: xx-large;
  }

  .about-text h5 {
    font-size: large;
  }

  .about-text p:not(.biodata p) {
    font-size: medium;
  }

  .about-text .biodata p {
    font-size: medium;
  }

  .about-image img {
    width: 250px;
  }
}

@media (max-height: 600px) {
  .welcome-image img {
    max-width: 70%;
  }
}

@media (max-width: 380px) {
  .contact-links {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ANIMATION */
.spanFirstRotate {
  transform: rotate(45deg);
  transform-origin: left;
}

.spanSecondHide {
  opacity: 0;
}

.spanThirdRotate {
  transform: rotate(-45deg);
  transform-origin: left;
}

@keyframes navbar-in {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes navbar-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000%);
  }
}

@keyframes imgUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes infiniteSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-102.5%);
  }
}

@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
